body {
    margin: 0;
    padding: 0;
    font-family: 'Gaegu', cursive;
    background-image: url('images/blob-dark.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f0e1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 375px;
}

h1 {
    margin-top: 20px;
    margin-bottom: -10px;
    text-align: center;
    font-family: 'Nova Slim', cursive;
    font-weight: 900;
    font-size: 5rem;
    color: #f5f0e1;
    animation: effect 2s linear infinite;
}

@keyframes effect {
    0% {color: #f5f0e1;}
    50% {color: #ffc13b;}
    100% {color: #ff6e40;}
}
#infoboard {
    padding-top: 10px;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

#gameboard {
    height:300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 10px 20px;
}

.square {
    height: 100px;
    width: 100px;
    border: 5px solid #f5f0e1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes blink-yellow {
    0%, 100% {
      background-color: #ffc13b;
    }
    50% {
      background-color: #26527992;
    }
}
  
@keyframes blink-orange {
    0%, 100% {
      background-color: #ff6e40;
    }
    50% {
      background-color: #26527992;
    }
}

@keyframes blink-white {
    0%, 100% {
      background-color: #f5f0e1;
    }
    50% {
      background-color: #26527992;
    }
}
.blink-yellow {
    animation: blink-yellow 2s linear infinite;
}

.blink-orange {
    animation: blink-orange 2s linear infinite;
}

.blink-white {
    animation: blink-white 2s linear infinite;
}

.square:hover {
    background-color: #26527992;
}

.square:first-child, .square:nth-child(2), .square:nth-child(3){
    border-top:none;
}

.square:nth-child(3n + 1){
    border-left: none;
}

.square:nth-child(3n + 3){
    border-right: none;
}

.square:last-child, .square:nth-child(7), .square:nth-child(8){
    border-bottom: none;
}

.O {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 15px solid #ffc13b;
    box-sizing: border-box;
}

.X {
    height: 60px;
    width: 60px;
    position: relative;
    transform: rotate(45deg);
}

.X:before, .X:after {
    content: '';
    position: absolute;
    background-color:#ff6e40;
}

.X:before {
    left: 50%;
    width: 30%;
    margin-left: -15%;
    height: 100%;
}

.X:after {
    top: 50%;
    height: 30%;
    margin-top: -15%;
    width: 100%;
}

#reset-button, #start-button {
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: #1e3d59;
    background-color: #ffc13b;
    font-family: 'Nova Slim', cursive;
}

#reset-button:hover, #start-button:hover{
    background-color: #ff6e40;
}

#controls {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

.control-buttons {
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 5px;
    color: #1e3d59;
    background-color: #ff6e40;
    font-family: 'Nova Slim', cursive;
}

.control-buttons:hover {
background-color: #ffc13b;
}

#scoreboard {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #26527992;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    font-family: 'Nova Slim', cursive;
}

#scores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#scoreboard p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f5f0e1;
    margin-top:5px;
    margin-bottom:5px;
}
  
#playerX-score,
  #playerO-score, #draw-score {
    font-size: 1rem;
    color: #f5f0e1;
  }

.light-mode {
    background-image: url('images/blob-light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:  #1e3d59;
    font-weight: 600;
}

#player-choice {
    font-family: 'Gaegu', cursive;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
}

#symbol {
    height: 3rem;
    width: 3rem;
   
    
}

select {
    background-color: #26527992;
    border: solid 3px #26527992;
    border-radius: 10px;
    font-family: 'Gaegu', cursive; 
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    color: #f5f0e1;
}
